
header {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('/imgs/baseballBat.png')!important;
    background-color: #b2832f;
}

.hamburger-icon {
    position: relative;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}


.dropdown-content a {
    color: #b2832f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.hamburger-icon:hover .dropdown-content {
    display: block;
}

.logo img {
    width: 200px;
    height: auto;
}

.login-icon {
    position: relative;
}


.login-icon .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.login-icon:hover .dropdown-content {
    display: block;
}


#threelines {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#profile {
    width: 40px;
    height: auto;
}


.adjust-dropdown-left {
    left: 0 !important;
}

.adjust-dropdown-right {
    right: 0 !important;
}
