@font-face{
    font-family: "Alameda";
    src: url(../fonts/AlamedaScript.otf);
}
@font-face {
    font-family: "College";
    src: url(../fonts/collegeb.ttf);
}


body{
    background-color: #e6d2b8;;

}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    padding: 40px;
    padding-bottom: 40px;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 2px solid #030303;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.container h2{
    font-family: "College";
    font-size: 2em;
    text-align: center;
    color:#b2832f;
}
.container h6 a{
    color: rgb(58, 56, 56);
    text-decoration: none;
}
.container h6 a:hover{
    color: #b2832f;
    cursor: pointer;

}

.input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #82827e;
}

.submit-button {
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    background-color: #b2832f;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}
.submit-button:hover{
    background-color: black;
}
.logo img{
    width:200px;
    height: auto;
}