<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Bench Coach</title>

    <!-- Correctly link to CSS -->
    <link rel="stylesheet" th:href="@{/css/baseball_style.css}" />

</head>
<body>
<div th:replace="~{header}"></div>
<main class="container">
    <article>
        <h1 class="maintext" id="mainheadline"> Welcome to The Bench Coach</h1>
        <h3 class="maintext" id="mainsub">Draft Smarter, Win Bigger</h3>
        <p class="maintext" id="maindesc">Your fantasy baseball success starts with a great draft. Start exploring the tools today and get ready to dominate your league!</p>
        <!-- Correct links to other pages -->
        <a th:href="@{/player-targets}">Player Targets</a>
    </article>
    <section class="image-links">
        <a th:href="@{/batting-stats}">
            <img th:src="@{/imgs/card_placeholder.png}" alt="2024 Batting Stats" class="image-link">
        </a>
        <a th:href="@{/pitching-stats}">
            <img th:src="@{/imgs/card_placeholder.png}" alt="2024 Pitching Stats" class="image-link">
        </a>
        <a th:href="@{/batter-projections}">
            <img th:src="@{/imgs/card_placeholder.png}" alt="2025 Batting Projections" class="image-link">
        </a>
        <a th:href="@{/pitcher-projections}">
            <img th:src="@{/imgs/card_placeholder.png}" alt="2025 Batting Projections" class="image-link">
        </a>

        <img th:src="@{/imgs/card_placeholder.png}" alt="Link 2" class="image-link">
        <img th:src="@{/imgs/card_placeholder.png}" alt="Link 3" class="image-link">
        <img th:src="@{/imgs/card_placeholder.png}" alt="Link 4" class="image-link">
    </section>
    <footer>Footer</footer>
</main>
</body>
</html>
